.bg-base{

    background-color: var(--color-base);
}

.shadow-effect{

    transition: all o.5s;
}

.shadow-effect:hover{

    box-shadow: 0px 0px 0 4px var(--color-brand);
}

#acercaDe .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
    height: 200px;

}

#acercaDe .form-control:focus{

    border-color: var(--color-base2);
    box-shadow: none;
}

#acercaDe .form-control::placeholder{

    color: var(--color-body);
}

#acercaDe input.form-control{

    height: 44px;
}