.bg-base{

    background-color: var(--color-base);
}

.shadow-effect{

    transition: all o.5s;
}

.shadow-effect:hover{

    box-shadow: 0px 0px 0 4px var(--color-brand);
}

#acercaDe .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
    height: 200px;

}

#acercaDe .form-control:focus{

    border-color: var(--color-base2);
    box-shadow: none;
}

#acercaDe .form-control::placeholder{

    color: var(--color-body);
}

#acercaDe input.form-control{

    height: 44px;
}

.btn{
    padding: 12px 18px;
    font-weight: 700;    
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}