

#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);

}

#contact .form-control:focus{

    border-color: var(--color-base2);
    box-shadow: none;
}

#contact .form-control::placeholder{

    color: var(--color-body);
}

#contact input.form-control{

    height: 44px;
}

.btn{
    padding: 12px 18px;
    font-weight: 700;    
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}
