@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Rubik+Spray+Paint&display=swap');

 :root{
    --color-body: #b6cbce;
    --color-heading: #dbddf3;
    --color-base: #033f47;             
    --color-base2: #000000;         
    --color-brand: #e0f780;             
    --color-brand2: #deff58;            
    --font-base: "Roboto Slab";

}

div {
    background-color: var(--color-base2);
    color:var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand{

    color: var(--color-brand);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.1);
    
}



/* Barra Navegadora*/

.navbar{

    background-color: var(--color-base);
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color:var(--color-brand);
}

@media (min-width: 992px){

    .navbar{
        min-height: 100vh;
        width: 240px;
        background: linear-gradient(rgb(3, 63, 71, 0.8), rgb(3, 63, 71, 0.8)), url(./assets/lobo-luna.jpg);
        background-size:cover;
        background-position:center;
    }
}

.navbar-brand img {

    border: 8px solid var(--color-brand2);
}
/* Barra Navegadora*/


/*El home*/

#content-wrapper {
    padding-left: 240px;
}

#content-wrapper2 {
    padding-left: 1100px;
}

/*El home*/



