<section id="work" class="full-height px-lg-5"  data-aos="fade-up" data-aos-duration="3000">
    <div class="container">
        <div class="row">

            <div class="col-lg-10">
             
                    <h1 class="text-brand"> Experiencia Laboral:</h1><br>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-5" style="align-items: center;">
                    <h4> {{experiencia[0].lugar}}</h4>
                    <h6>de {{experiencia[0].desde}}, hasta {{experiencia[0].hasta}}</h6>
                    <p>{{experiencia[0].decripcion}}</p><br>                   
                </div>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-5" style="align-items: center;">    
                    <h4> {{experiencia[1].lugar}}</h4>
                    <h6>de {{experiencia[1].desde}}, hasta {{experiencia[1].hasta}}</h6>
                    <p>{{experiencia[1].decripcion}}</p><br>
                </div>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-4" style="align-items: center;">    
                    <h4> {{experiencia[2].lugar}}</h4>
                    <h6>de {{experiencia[2].desde}}, hasta {{experiencia[2].hasta}}</h6>
                    <p>{{experiencia[2].decripcion}}</p><br>
                </div>         
                
              

            </div>
        </div>
    </div>


</section>