<section id="educacion" class="full-height px-lg-5"  data-aos="fade-up" data-aos-duration="3000">
    <div class="container">
        <div class="row">

            <div class="col-lg-10">
             
                <h1 class="text-brand">Educación</h1><br>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-5" style="align-items: center;">
                        <h4> {{edu[0].titulo}} </h4>
                        <h6>{{edu[0].establecimiento}}</h6>
                        <p>{{edu[0].descripcion}}</p><br>
                </div>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-5" style="align-items: center;">    
                    <h4> {{edu[1].titulo}}</h4>
                    <h6>{{edu[1].establecimiento}}</h6>
                    <p>{{edu[1].descripcion}}</p><br>
                </div>
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-4" style="align-items: center;">    
                    <h4> {{edu[2].titulo}}</h4>
                    <h6>{{edu[2].establecimiento}}</h6>
                    <p>{{edu[2].descripcion}}</p>
                </div>         
                
                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-4" style="align-items: center;">
                
                    <h4> {{edu[3].titulo}}</h4>
                    <h6>{{edu[3].establecimiento}}</h6>
                    <p>{{edu[3].descripcion}}</p>
                </div>

                <div class="p-4 bg-base rounded-4 shadow-effect lead mt-4 mb-4" style="align-items: center;">
                    <h4> {{edu[4].titulo}}</h4>
                    <h6>{{edu[4].establecimiento}}</h6>
                    <p>{{edu[4].descripcion}}</p>
                </div>
              

            </div>
        </div>
    </div>


</section>